body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.fr{
	float: right;
}

.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 20px;
  min-width: 600px;
}


.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.modal-content h3{
  text-align: center;
}

.list{
  list-style:none;
  padding-left: 20px;
}

.list-item{
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #999;
}

.list-item span{
  margin-right: 15px;
}

.author{
  font-style: italic;
}

.list-header{
  padding-left:20px
}

.link{
  text-decoration: none;
}